#img {
	display: block;
	margin: 0 auto 50px;
	max-width: 900px;
	height: 550px;
	transition: opacity 3s linear;
	box-shadow: 7px 8px 8px gray;
}

@media (max-width: 980px) {
	#img {
		width: 80%;
		height: 350px;
	}
}

@media (max-width: 600px) {
	#img {
		width: 400px;
		height: 240px;
	}
}