form {
	text-align: center;
	margin: 80px auto 0;
	box-shadow: 2px 4px 3px gray;
	border-radius: 12px;
	width: 350px;
	height: 330px;
	padding: 30px 0;
	background-color: #EEF29E;
}

#errMsg {
	width: 87%;
	margin: 0 auto -15px;
	padding: 5px 7px;
	font-size: 0.85rem;
	font-weight: bold;
	color: #AF180E;
	background-color: rgba(236, 110, 101, 0.4);
	border: 1px solid red;
	border-radius: 4px;
}

@media (max-width: 870px) {
	form {
		width: 350px;
	}
}

@media (max-width: 600px) {
	form {
		width: 60%;
	}
}

.logo-login {
	width: 50px;
	height: 50px;
	margin-top: 20px;
}

h2.login-title {
	letter-spacing: 2px;
	font-family: 'Quicksand', sans-serif;
}

input {
	padding: 10px 15px 10px 20px;
	width: 57%;
}

input[id="login-email"] {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: -2px;
	border: 2px solid rgb(67, 190, 222);
}

input[type="password"] {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 16px;
	border: 2px solid rgb(67, 190, 222);
}

input:focus {
	outline: none;
	border-color: #22A4C2;
}

button#login-button {
	padding: 10px;
	width: 40%;
	margin-top: 10px;
	border-radius: 8px;
	letter-spacing: 2px;
	font-size: 14px;
	background-color: #22A4C2;
	border: 2px solid #0B5774;
	color: white;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	transition: margin-top box-shadow linear;
	box-shadow: 2px 3px 2px gray;
}

button#login-button:active {
	margin-top: 13px;
	box-shadow: 0 0 gray;
	background-color: #0B5774;
}

button#login-button:hover {
	background-color: #338294;
}